.track {
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 25vw;
    border-radius: 30px;
    background: linear-gradient(45deg, #da90e4, #47aad8);
    cursor: pointer;
  }